.head1 {
  position: relative;
  top: 22px;
  left: 10px;
}

.mylogo {
  position: relative;
  top: -20px;
}

h1 {
  color: aliceblue;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  position: relative;
}

.logoicon {
  width: 50px;
  height: auto;
  float: left;
}

.mainpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topnav {
  position: relative;
  top: 2px;
}

.two {
  color: seashell;
  font-size: 10px;
  position: relative;
  top: -30px;
  margin: 0 -0.5vw;
}

a {
  color: white;
  font-size: 18px;
}

.blurb {
  text-align: center;
  color: white;
}

.initform {
  color: white;
}

.list1 {
  list-style-type: none; /* gets rid of link bullet points */
  text-decoration: none; /* gets rid of link underlines */
  display: inline; /* arranges nav items horizonatlly rather than vertically*/
  margin: 0 3.5vw; /* first val is for top/bottom, second val is for left/right  */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  width: 97.6vw;
  background-color: darkseagreen;
}

a {
  text-decoration: none;
}

.searchbutton {
  background-color: darkseagreen;
  color: white;
  border-radius: 40px;
  width: 8%;
  border: 3px solid;
  border-color: aliceblue;
}

.heropic img {
  width: 100%;
  position: relative;
  height: 480px;
  filter: brightness(75%);
}

.heropic .overlay {
  position: absolute;
  top: 210px;
  right: 265px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: white;
}

.heropic .myform {
  position: relative;
  top: -260px;
  right: -447px;
}

.initform {
  color: white;

  font-weight: bold;
}

.price,
.lvltitle {
  text-align: center;
}

table {
  margin-left: 555px;
  margin-top: 40px;
  margin-bottom: 0;
  border-collapse: collapse;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkslategrey;
}

.tableheaders {
  color: aliceblue;
  font-weight: bold;
}

th,
td {
  /*  border-radius: 40px; */
  border-style: hidden;
  padding: 0.5rem;
  border-width: thin;
}

tr {
  background-color: darkseagreen;
}

.gurulight {
  background-color: silver;
}

.gurupro {
  background-color: rgb(176, 141, 87);
}

.guruprem {
  background-color: rgb(212, 175, 55);
}

.botnav {
  position: relative;
  top: -430px;
  left: -16px;
}

.price {
  font-weight: bold;
}

.shopguru {
  background-color: darkseagreen;
  color: white;
  border-radius: 40px;
  width: 8%;
  border: 3px solid;
  border-color: aliceblue;
  font-weight: bold;
  position: relative;
  left: 845px;
  top: -545px;
}

textarea {
  background-color: darkolivegreen;
  border-style: hidden;
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  position: relative;
  top: -490px;
  left: 30px;
  resize: none;
  
}
