body {
    background-color: rgb(253, 230, 249);
  }
  
.head1 {
position: relative;
top: 22px;
left: 10px;

}

  h1 {
    color: rgb(129, 120, 110);
    text-align: left;
    
  }

  h2{
      color:white;
      text-align: right;
      position: relative;
      top: -650px;
      left: -10px; 
      font-size: 45px;
      
  }

  h3 {
      text-align: initial;
      color: white
      
  }

  .bear {
      width: 60px;
      height: auto;
  }

  .teaparty { 
      width: 100%;
      align-items:center;

  }

  .topnav {
    position: relative;
    top: -28px;
    color: rgb(129, 120, 110);
    float: right;

  }

  a{
      color: rgb(129, 120, 110);
      text-align: center;
  }


 
