body {
  background-color: darkolivegreen;
}


.head1 {
  position: relative;
  top: 22px;
  left: 10px;
}

.mylogo {
    position: relative;
    top: -20px; 
}

h1 {
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  position: relative;
}

.logoicon {
  width: 50px;
  height: auto;
  float: left;
}

.mainpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.topnav {
  position: relative;
  top: 2px; 
  
}

a {
  color: white;
  font-size: 20px;
}

.blurb {
    text-align: center;
    color: white;
}

.initform {
    color: white;
}

li{
    list-style-type:none; /* gets rid of link bullet points */
    text-decoration:none; /* gets rid of link underlines */
    display: inline; /* arranges nav items horizonatlly rather than vertically*/
    margin: 0 3.5vw; /* first val is for top/bottom, second val is for left/right  */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    width: 100vw;
    background-color: darkseagreen;
}

a{
    text-decoration: none;
}

.submitbutton {
    background-color: darkseagreen;
    color: white;
    border-radius: 40px;
    width: 8%;
    border: 3px solid;
    border-color: aliceblue;
}

.heropic img {
    width: 100%;
    position: relative;
    height: 500px;
    filter: brightness(80%);

  }
  
  .heropic .overlay {
    position: absolute;
    top: 210px;
    right: 265px;
    font-weight: bold;
    text-align:center;
    font-size: 30px;
    color: white;
  }

  .initform {
   color: white;   
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
  }
